:root {
  --primary: #fffff1;
  --secondary:rgba(238, 159, 12, 0.749);
  --text: black;
  --button: rgb(246, 164, 12);
}
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #1c1c1ce1;
}
.firstPage{
    background-image: url(bckground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.backGround{
    width: 100%;
    height: 100vh;
    background-color: rgba(2, 2, 2, 0.795);
}
.content{
    max-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--primary );
}
.content h2{
    animation: appear 3s ease;
}
@keyframes appear{
    from{
        opacity: 0;
        clip-path: inset(0 0 100% 0);
    }
    to{
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
}
.content h2 span{
    font-size: 10px;
    color: var(--secondary);
}
.content h1{
    font-size: 4rem;
    animation: appear 3s ease;
}
@keyframes dash{
    from{
        opacity: 0;
        transform: translateY(-100px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.content h1 span{
    color: var(--secondary);
    font-size: 75px;
}
.fText{
    margin-top: -15px;
    margin-bottom: 10px;
    padding: 20px;
    background-color: rgba(30, 30, 30, 0.338);
    animation: dash 2s ease;
}
.fText p{
    font-size: 1.4rem;
}
.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    animation: dash 2.5s ease;
}
.icons img{
    width: 60px;
    padding: 10px;
}
.icons img:hover{
    transform: scale(1.3);
    transition: 0.3s;
}
.register{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}
.logInBtn button{
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    margin-left: 5px;
    cursor: pointer;
}
.logInBtn button:hover{
    background-color: var(--secondary);
    color: var(--primary);
}
.registerbtn{
    color: var(--primary);
    background-color: rgba(128, 128, 128, 0.288);
}

.authPage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.authBox {
    background: #f5f5f5;
    padding: 25px 20px;
    border-radius: 15px;
    width: 90%;
    max-width: 450px;
    height: auto;
    min-height: 500px;
    text-align: center;
}

.authBox input {
    width: 100%;
    padding: 15px;
    margin: 12px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.authBox button {
    width: 100%;
    padding: 12px;
    background-color: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background 0.3s ease;
}
.authBox #verifyLogin:hover {
    background-color: #1c1c1c;
}

.authBox a {
    display: inline-block;
    margin-top: 15px;
    color: #1c1c1c;
    font-weight: 500;
    text-decoration: none;
}
.authBox a:hover {
    text-decoration: underline;
}
.authPage.show {
  display: flex;
}

.formLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    max-width: 90%;
    padding: 30px;
    background: rgba(255,255,255,0.9);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(0,0,0,0.2);
    margin: auto;
}

.formLogin h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.input-box input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: transparent;
}
.input-box label {
    position: absolute;
    top: -8px;
    left: 12px;
    background: white;
    padding: 0 5px;
    font-size: 14px;
    color: #555;
}

.forgotpass {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 20px;
    font-size: 15px;
}
.forgotpass label{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 500;
}


#login {
  display: none; 
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.loginSave{
  display: none;
  font-size: 1.3rem;
  color: white;

}
body.modal-open > *:not(#login) {
  filter: blur(5px);
}
.close-modal {
  width: 50px;
  margin-right: -400px;
  margin-bottom: -40PX;
    font-size: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #333;
    z-index: 1010; 
}
.register-link a{
    margin-bottom: -3px;
    margin-left: 8px;
    color: var(--button);
    text-decoration: underline;
}
#signupForm a{
    margin-bottom: -3px;
    margin-left: 8px;
    color: var(--button);
    text-decoration: underline;
}
.secondPage{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: #fff5ef;
}
.left{
    max-width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #fff5ef;
}
.qlogo{
    font-size: 15px;
    margin-left: -600px;
    animation: appear 2s ease;
}
.qlogo span{
    font-size: 12px;
    color: var(--button);
}
.qtext{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.qtext p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.1rem;
    font-weight: bold;
}
.orderbtn{
    margin-top: 30px;
}
.orderbtn button{
    width: 150px;
    padding: 12px;
    border-radius: 15px;
    color: black;
    border: none;
    background-color: var(--button);
    margin-bottom: 70px;
    margin-left: 10px;
}
#seemore{
    width: 150px;
    padding: 12px;
    border-radius: 15px;
    color: white;
    border: none;
    background-color: rgb(31, 30, 30);
    margin-bottom: 70px;
}
.orderbtn button:hover{
    background-color: var(--secondary);
}
.ratings{
    width: 90%;
    margin-bottom: -30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: appear 2s ease;
}
.foodRating{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.ratings hr{
    width: 100%;
}
.imgRating{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imgRating p{
    font-style: italic;
    margin-bottom: -10px;
}
.imgRating img{
    width: 100px;
    border-radius: 50%;
    box-shadow: 6px 6px 15px var(--button);
}
.contactInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 70px;
    margin-top: 20px;
    animation: anibutton 2s ease;
}
@keyframes anibutton{
    from{
        opacity: 0;
        transform: translateY(50px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.contactInfo li{
    list-style: none;
}
.contactInfo li a{
    text-decoration: none;
    color: black;
}
.rigthImg{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgAni{
    width: 90%;
    display: flex;
    margin-top: 30px;
    overflow-x: auto;
    padding-top: 15px;
    border-radius: 20px;
    animation: appear 2s ease;
}
.imgAni::-webkit-scrollbar{
    display: none;
}
.imgAni:hover .scrollproduct{
    animation-play-state: paused;
    transform: scale(1.3);
}
.scrollproduct{
    display: flex;
    flex-direction: row;
    gap: 2em;
    padding-right: 2em;
    animation: spin 18s infinite linear;
}
@keyframes spin {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
.productImg{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.productImg h3{
    font-size: 12px;
}
#rate{
    font-size: 11px;
    font-style: italic;
    margin-top: -10px;
}
.productImg:hover{
    transform: scale(1.1);
    transition: 0.5s;
    color: var(--button);
}
.productImg img{
    width: 120px;
    height: 120px;
    border-radius: 15px;
    box-shadow: 0 3px 10px black;
}
.rigth{

    width: 40%;
    height: 100vh;
    overflow: hidden;

}
.sideImg{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    gap: 80px;
}
.sideImg img{
    border: none;
    width: 580px;
    height: 580px;
    border-radius: 50%;
    margin-right: -250px;
    box-shadow: 9px 9px 15px gray, -9px -9px 20px rgb(80, 80, 80);
    transition: 0.5s ease;
    animation: slide 1.2s ease;
}
.sideImg h3{
    font-size: 1.5rem;
}
.info{
    width: 70%;
    transition: 3s ease;
    animation: slide 2s ease;
}
#rating{
    font-style: italic;
}
.headerLinks{
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    animation: dash 1s ease;
}
.links{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    padding: 2px 8px;
    width: 550px;
    gap: 50px;
    border-radius: 50px;
    background-color: var(--primary);
    box-shadow: 6px 6px 15px gray;
    z-index: 1000;
}
.links ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 25px;
}
.links ul a{
    text-decoration: none;
    font-size: 16px;
    color: var(--text);
}
.links ul li a:hover{
    color: rgb(219, 145, 7);
}
.selectcategory{
    border: none;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    background-color: transparent;
}
.cart-btn{
    border-radius: 15px;
    border: none;
    padding: 5px 8px;
    background-color: var(--button);
    color: var(--primary);
}
.cart-btn:hover{
    background-color: var(--secondary);
}
.myProducts{
    background-color: #fff5ef;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hidden{
    display: none;
}

.section-title{
  margin:20px 0 10px 16px;
  font-size:18px;
  font-weight:600;
}
.menuItem {
  box-shadow: 3px 3px 5px black;
  margin-top: 20px;
  margin-bottom: 50px;
  background-color: #8d8989;
  border-radius: 10px;
  height: 200px;
  width: 180px;
}
.menuItem img{
  border-radius: 10px;
  width: 180px;
  height: 200px;
}
.menuItem:hover{
  transform: scale(1.2);
  transition: .5s;
  color: var(--accent-2);
}
.myProductText{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 100px 20px 10px 20px;
}
.myProductText h1 span{
    color: rgb(219, 145, 7);
    font-size: 2.5rem;
}
.myProductText p{
    margin-top: -18px;
    font-style: italic;
}
.searchDiv input{
    border-radius: 10px;
    border: none;
    width: 300px;
    padding: 8px 15px;
    font-style: italic;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.searchDiv input:focus{
    width: 350px;
}
.searchDiv button{
    border-radius: 10px;
    padding: 5px 15px;
    border: none;
    background-color: var(--button);
    cursor: pointer;
}
.searchDiv button:hover{
    background-color: var(--secondary);
}

.products-grid{
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
  gap:10px;
  padding:80px 5px 5px 5px;
  max-width:1100px;
  margin:0 auto 80px;
  margin-top: 30px;
}
.card{
  background:var(--primary);
  border-radius:15px;
  padding:10px;
  box-shadow:6px 6px 15px gray;
  display:flex;
  flex-direction:column;
  gap:10px;
  animation: anibutton 2s ease;
}
.card img{width:100%;height:300px;object-fit:cover;border-radius:10px;}
.card h3{margin:0;font-size:16px}
.card p{margin:0;color:var(--muted)}
.card .price{font-weight:700;margin-top:6px}
.card .actions{display:flex;justify-content:space-between;align-items:center;margin-top:auto}
.card button{background:var(--button);color:white;padding:8px 10px;border-radius:8px;border:0;cursor:pointer;font-weight:600}
.card button:hover{
  background: var(--secondary);
}
.card:hover{
  transform: scale(1.04);
  transition: .5s;
}
.cart-sidebar{
  position:fixed;
  right:-450px;
  top:0;
  height:100%;
  width:360px;
  max-width:92%;
  background:var(--primary);
  box-shadow:-8px 0 30px rgba(10,10,20,0.12);
  transition:right .28s ease;
  display:flex;
  flex-direction:column;
  padding:16px;
  z-index: 100;
}

.cart-sidebar.open{right:0}
.cart-header{display:flex;justify-content:space-between;align-items:center;margin-bottom:8px}
.cart-items{flex:1;overflow:auto;padding:6px 0}
.cart-item{
  display:flex;
  gap:10px;
  align-items:center;
  border-radius:10px;
  padding:8px;
  background:linear-gradient(180deg, rgba(0,0,0,0.02), transparent);
  margin-bottom:8px;
}
.cart-item .meta{flex:1}
.qty-controls{display:flex;gap:6px;align-items:center}
.qty-controls button{padding:4px 7px;border-radius:6px;border:0;background:#eee;cursor:pointer;font-weight:700}
.remove-link{background:transparent;color:var(--accent-2);border:0;cursor:pointer}

.cart-summary{padding-top:8px;padding-bottom: 10px;}
.summary-row{display:flex;justify-content:space-between;margin:8px 0;font-size:15px}
.note{font-size:15px;color:var(--text);margin-top:10px}
.checkout-controls button{
    border: none;background-color: var(--button);padding:10px;width: 100%;
}
.receipt-modal{
  position: fixed;
  top:0; left:0;
  width:100%; height:100%;
  background: rgba(0,0,0,0.5);
  display:none;
  justify-content:center;
  align-items:center;
  z-index:2000;
}

.receipt-box{
  background:#fff;
  padding:20px;
  width:320px;
  max-width:90%;
  border-radius:10px;
  text-align:center;
  padding: 30px;
}

.receipt-box h2{
  margin-top: -15px;
  margin-bottom:20px;
}

.receipt-item{
  display:flex;
  justify-content:space-between;
  margin:5px 0;
}

.receipt-total{
  margin-top:15px;
  font-size:18px;
}

.print-btn{
  margin-top:10px;
  padding:10px;
  width:100%;
  border:none;
  background:orange;
  color:var(--text);
  border-radius:5px;
  cursor:pointer;
}

.close-btn{
  margin-right: -260px;
  border:none;
  background:none;
  font-size:20px;
  cursor:pointer;
}

.aboutContainer{
    background-color: #fff5ef;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.aboutUsLogo{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: dash 2s ease;
}
.aboutUsLogo span{
    font-size: 1.5rem;
    color: var(--secondary);
}
.aboutLoc{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -20px;
}
.aboutLoc p{
    font-size: 12px;
}
#aboutRating{
    margin-top: -8px;
}
.aboutUs{
    display: flex;
    flex-direction: row;
    height: 80vh;
    gap: 15px;
}
#arrow{
    width: 23px;
    margin-bottom: -50px;
    margin-left: 50px;
    cursor: pointer;
}
.aboutUsFirst{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 40%;
}
.aboutUsFirstText{
    font-size: 1.5rem;
    margin-left: 30px;
    padding: 15px;
    background-color: #fef3e5;
    border-radius: 10px;
    box-shadow: 3px 5px 12px gray;
    animation: appear 2s ease;
}
.aboutUsFirstImg img{
    width: 620px;
    margin-left: -100px;
    filter: drop-shadow(6px 6px 15px black);
    animation: slideleft 1.5s ease;
}
.aboutUsSecond{
    width: 30%;
    z-index: 1;
}
.aboutUsSecondP{
    border-radius: 10px;
    padding: 15px;
    margin-top: 150px;
    background-color: #fef3e5;
    box-shadow: 3px 5px 12px gray;
    animation: appear 2s ease;
}
.aboutUsThird{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 150px;
    align-items: center;
}
.aboutUsThirdP{
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 15px;
    margin-right: 20px;
    background-color: #fef3e5;
    box-shadow: 3px 5px 12px gray;
    font-style: italic;
    animation: appear 2s ease;
}
.aboutUsThirdImg img{
    width: 500px;
    margin-top: -100px;
    margin-right: -120px;
    filter: drop-shadow(5px 0 10px rgb(91, 91, 91));
    animation: slide 1.2s ease;
}
@keyframes slide{
    from{
        opacity: 0;
        transform: translateX(200px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideleft{
    from{
        opacity: 0;
        transform: translateX(-200px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@media (max-width: 768px){

    body{
        overflow-x: hidden;
    }
    .content{
        padding: 20px;
        text-align: center;
    }
    .content h1{
        font-size: 2.3rem;
    }
    .content h1 span{
        font-size: 2.8rem;
    }
    .content h2{
        font-size: 1rem;
    }

    .fText{
        width: 95%;
        padding: 15px;
    }
    .fText p{
        font-size: 1rem;
    }
    .icons{
        flex-direction: row;
        gap: 5px;
    }
    .register{
        margin-left: 0;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .formLogin{
        width: 95%;
        padding: 20px;
    }
    .close-modal{
        margin-right: -360px;
        margin-bottom: -50px;
    }
    
    .links{
        width: 90%;
        gap: 12px;
        padding: 5px 10px;
        border-radius: 15px;
    }
    .links ul{
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
    }
    .links ul a,
    .selectcategory{
        font-size: 14px;
    }
    
    .secondPage{
        flex-direction: column;
        height: auto;
    }
    .left,
    .rigth{
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    .qlogo{
        margin-left: 0;
        text-align: center;
    }

    .qtext{
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }

    .qtext p{
        font-size: 1.4rem;
    }

    .orderbtn{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .orderbtn button,
    #seemore{
        width: 150px;
        margin-bottom: 15px;
    }

    .foodRating{
        width: 100%;
        flex-wrap: wrap;
        gap: 10px;
    }

    .contactInfo{
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    /* PRODUCT SLIDER */
    .imgAni{
        width: 100%;
    }

    .productImg img{
        width: 90px;
        height: 90px;
    }

    /* RIGHT IMAGE */
    .sideImg{
        margin-top: 30px;
        gap: 30px;
    }

    .sideImg img{
        width: 300px;
        height: 300px;
        margin-right: 0;
    }

    .info{
        width: 90%;
        text-align: center;
    }

    /* PRODUCTS SECTION */
    .products-grid{
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 20px;
    }

    .card img{
        height: 150px;
    }

    .searchDiv{
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 5px;
        flex-wrap: wrap;
    }

    .searchDiv input{
        width: 50%;
    }

    .searchDiv input:focus{
        width: 60%;
    }

    /* ABOUT SECTION */
    .aboutContainer{
        height: auto;
        overflow: visible;
        padding-bottom: 50px;
    }

    .aboutUs{
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .aboutUsFirst,
    .aboutUsSecond,
    .aboutUsThird{
        width: 95%;
    }

    .aboutUsFirstText,
    .aboutUsSecondP,
    .aboutUsThirdP{
        margin: 0;
        font-size: 1rem;
    }

    .aboutUsFirstImg img{
        width: 100%;
        margin-left: 0;
    }

    .aboutUsThirdImg img{
        width: 100%;
        margin-right: 0;
        margin-top: 0;
    }

    /* CART */
    .cart-sidebar{
        width: 60%;
        max-width: 100%;
        z-index: 1000;
    }

    /* RECEIPT */
    .receipt-box{
        width: 70%;
    }

    .close-btn{
        margin-right: -220px;
        margin-top: -50px;
    }
}
@media (max-width: 450px){

    body{
        overflow-x: hidden;
    }

    /* FIRST PAGE */
    .content{
        padding: 8px;
        text-align: center;
    }

    .content h1{
        font-size: 2.1rem;
    }

    .content h1 span{
        font-size: 2.5rem;
    }

    .content h2{
        font-size: 0.8rem;
    }

    .fText{
        width: 95%;
        padding: 12px;
    }

    .fText p{
        font-size: 1rem;
    }

    .icons{
        flex-direction: row;
    }
    .logInBtn{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .register{
        margin-left: 0;
        flex-wrap: wrap;
        justify-content: center;
    }

    /* LOGIN FORM */
    .loginForm{
        width: 60%;
    }

    .close-modal{
        margin-right: -250px;
        margin-bottom: -50px;
    }

    /* NAVIGATION */
    .links{
        width: 95%;
        gap: 8px;
        padding: 5px 5px;
        border-radius: 15px;
    }

    .links ul{
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
    }

    .links ul a,
    .selectcategory{
        font-size: 12px;
    }

    .orderbtn button,
    #seemore{
        width: 130px;
        margin-bottom: 10px;
    }

    #arrow{
        margin-left: 12px;
        font-size: 12;
    }
    .receipt-box{
        width: 80%;
    }
}
